<main class="customers-reset-password" data-barba="container">
    <div class="contained">

        {% form 'reset_customer_password' %}

            <h1 class="txt-center">{{ 'customer.reset_password.title' | t }}</h1>

            <p class="txt-center lead-2">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

            <div class="form lead-2">
                {{ form.errors | default_errors }}
                <input
                    class="fill"
                    type="password"
                    name="customer[password]"
                    id="ResetPassword"
                    class="{% if form.errors contains 'password' %}input-error{% endif %}"
                    placeholder="{{ 'customer.reset_password.password' | t }}"
                />

                <input
                    class="fill"
                    type="password"
                    name="customer[password_confirmation]"
                    id="PasswordConfirmation"
                    class="{% if form.errors contains 'password_confirmation' %}input-error{% endif %}"
                    placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
                />

                <div class="txt-center lead-2">
                    <input type="submit" class="btn button btn-white" value="{{ 'customer.reset_password.submit' | t }}">
                </div>
            </div>

        {% endform %}

    </div>
</main>
